.navbar-default,
.modal-header {
    background-color: #ff9933;
    color: white;
}

.navbar-brand {
    padding-top:12px;
}

.modal-content {
    background-color: #F8F8F8;
    border-radius: 0px;
}

.modal-font {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.75;
}

.modal-message {
    color: red;
    font-size: 20px;
}
.givdo-btn {
    height: 50px;
    border-radius: 0px;
}

.givdo-btn-submit {
    padding:0px;
    padding-left:10px;
    padding-right:10px;
}

.span-font,
.navbar-default .navbar-nav>li>a {
    color: white;
}

body {
    background-color: #F8F8F8;
}

#main {
    margin: auto;
    width: 90%;
}

#logo {
    height: 25px;
}

.chart {
    float: right;
    width: 50%;
}

.btn-warning {
    color: white;
    background-color: #ff9933;
    border-color: #ff9933;
}

.user-profile {
    padding: 25px;
    background-color: white;
    margin: 25px;
}

.user-profile-name {
    color: #3cf;
    font-size: 20px;
}

.gray-text {
    color: gray;
}

.about-text {
    font-size: 16px;
}

.give-button {
    float: right;
    height: 50px;
    border-radius: 0px;
}

.progress {
    height: 50px;
    background-color: #A1A1A1;
    border-radius: 0px;
}

.progress-bar {
    padding: 15px;
    font-size: 30px;
}

.progress-label {
    font-size: 20px;
}

.left {
    float: left;
}

.middle {
    text-align: center;
}

.right {
    float: right;
}

.profile-image {
    padding-right: 10px;
    width: 100px;
}

.clickable {
    cursor: pointer;
}

.form-input {
    height: 50px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    padding: 4px 10px;
    margin: 15px 0;
    margin-right: 15px;
}
